# MYSQL
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=

# POSTGRESQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# MONGO DB
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=
MONGO_PORT=